
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}

header{
    background: linear-gradient(to right, #4f79c6, #4cfd73);
    color: #ffffff;
    padding: 1rem 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
    transition: 0.2s;
}

header nav ul li:hover {
    transform: translateY(-2px);
}

header nav a{
    color: #ffffff;
    text-decoration: none;
}

p{
    text-align: justify;
}

.konten-flex {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 30px 0;
}

.konten-flex img{
    width: 325px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .konten-flex {
        flex-direction: column;
    }

    .konten-flex img {
        width: 100%;
        max-width: 300px;
    }
}


footer{
    background: linear-gradient(to right, #4f79c6, #4cfd73);
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

.logo{
    color: #dbff27;
    display: flex;
    align-items: center;
    font-size: 150%;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
    transition: 0.2s;
}

.logo:hover{
    transform: translateY(-2px);
}

#hero{
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url("images/hero2.jpg");
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    padding: 12rem 0;
}

#hero h2{
    margin: 1rem ;
    font-size: 35px;
}

#hero p{
    text-align: center;
    font-size: 18px;
}

.btn{
    font-size: 15px;
    background-color: rgba(21, 255, 0, 0.75);
    color: #ffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.2s;
}

.btn:hover{
    background-color: rgba(20, 215, 3, 0.75);
}

section{
    padding: 4rem 0;
}

section h2{
    margin-bottom: 2rem;
    width: 100%;
}

#articles h2{
    margin-bottom: 30px;
}

.articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.article-link{
    text-decoration: none;
    color: inherit;
}

.article{
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #e5e5e5;

    transition: 0.3s;
}

.article h3{
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 15px;
}

.article p{
    font-size: 0.95rem;
    color: #444;
}

.article:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.games{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.game-link{
    text-decoration: none;
    color: inherit;
}

.game{
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #e5e5e5;

    transition: 0.3s;
}

.game:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

html {
    scroll-behavior:smooth;
}


#butn .container{
    display: flex;
    justify-content: flex-end;
}

h1{
    font-size: 22px;
}
