
body{
    background-color: #ffffff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}

header{
    background: linear-gradient(to right, #4f79c6, #4cfd73);
    color: #ffffff;
    padding: 1rem 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav a{
    color: #ffffff;
    text-decoration: none;
}

p{
    text-align: justify;
}

.konten-flex {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 30px 0;
}

.konten-flex img{
    width: 325px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .konten-flex {
        flex-direction: column;
    }

    .konten-flex img {
        width: 100%;
        max-width: 300px;
    }
}

#about{
    margin-top: 200px;
    margin-bottom: 50px;
}

footer{
    background: linear-gradient(to right, #4f79c6, #4cfd73);
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

.logo{
    color: #dbff27;
    display: flex;
    align-items: center;
    font-size: 150%;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
}
